*, *:before, *:after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}


.clearfix::after {
  content: " ";
  display: table;
  clear: both;
}

/* <!--  Base Styles --!> */

body  {
  font-family: 'Poppins', serif;
  background: #eaefd3;
  color: #505168;
  text-align: center;
}

p {
  font-size: 14px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
}

h1  {
  font-size: 20px;
  color: #27233a;
  margin-top: 5px;
}

h2  {
  font-size: 15px;
}

h3  {
  font-size: 10px;
}

a   {
  text-decoration: none;
  font-size: 10px;
}

.img  {
  height: 185px;
  width: 310px;
  margin-top: 20px;
  margin-bottom: 25px;
  transition: box-shadow 0.3s ease-in-out;
}

span  {
  font-weight: bold;
}

/* ==========================
<!--  layout  --!>
============================= */

nav {
  background: #ffffff;
}

.intro  {
  padding-bottom: 25px;
  margin-top: 30px;
  margin-bottom: 25px;
}

.main-content {
  background: #fff;
  padding-bottom: 10px;
  padding-top: 10px;
}

.name {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

/* ==========================
 <--!  Navigation  !-->
 ============================ */

.name {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

.main-header  {
  padding-bottom: 5px;
  margin-top: 0;
}

.main-nav   {
  font-weight: bold;
  margin-left: 10px;
  margin-right: 10px;
}

.main-nav li  {
  background: #fff;
  margin-top: 3px;
  padding-bottom: 3px;
}

.main-nav a {
  color: #b3c0a4;
  padding: 4px;
}

.main-nav a:hover {
  color: #fff;
}

.name a,
main-nav a  {
  padding: 10px 15px;
  display: block;
}

.main-footer  {
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  margin: 0;
}

.footer-name,
.footer-nav  {
  display: inline-block;
  padding: 0 3px 4px;
}

.footer-nav a {
  color: #b3c0a4;
  /* padding: 3px; */
}

.footer-nav a:hover {
  color: #fff;
}

.footer1024 {
  display: none;
}

/*  =====================
 <--!  media queries !-->
 =========================  */

@media (min-width: 768px)  {

/*  =======================
 <--!  navigation  !-->
 ========================== */

    .wrapper  {
      max-width: 1280px;
      margin: 0 auto;
    }

    .main-nav {
      text-align: center;
    }

    .main-nav li {
      display: inline-block;
      margin-right: 15px;
    }
    .main-nav a:hover {
      color: #000;
    }

    .name  {
      padding: 10px 15px;
      display: block;
    }

    .main-header  {
      background: white;
    }

    .summary  {
      width: 40%;
      float: left;
    }

    profile-image {
      float: right;
      width: 30%;
    }

/* ======================
side by side
========================= */

    .intro img  {
      float: right;
      margin: 20px 15px 5%;
      padding: 25px;
    }

    .col  {
      float: left;
      width: 50%;
      display: inline-block;
    }

    .footer1024 {
      display: none;
    }
}


  @media (min-width: 1024px)  {

/* ======================
navigation
========================= */

    .main-header  {
      margin-left: 0px;
      margin-right: 0px;
      padding: 4px;
    }

    .name,
    .main-nav,
    .main-nav a,
    .main-nav li {
      margin: 0;
      display: inline-block;
      padding: 6px 4px;
      /* float: right; */
    }

    .name  {
      float: left;
      margin-top: 3px;
    }

    .sections {
      float: right;
    }

    .main-footer  {
      display: none;
    }

    .footer-nav {
      position: relative;
      display: inline-block;
    }

    .name,
    .footer1024,
    .footer1024 a,
    .footer1024 li {
      margin: 0;
      display: inline-block;
      padding: 6px 4px;
    }


/* =====   ---->!
layout      !<----   === */

    .intro p  {
      margin-left: 10%;
    }

/* ====   ---->!
floats      !<----    ===== */

    .marketing-container,
    .travel-container,
    .search-container  {
      float: left;
      width: 33%;
      display: inline-block;
    }

    .col {
      width: 33%;
      display: inline-block;
    }
}
